In [ ]:
import pandas as pd

In [ ]:
main_train = pd.read_csv('/home/prashant/incedo/')

In [13]:
jug_train_data = pd.read_csv('/home/prashant/Downloads/train(1).tsv',delimiter = '\t')

In [14]:
more_data = pd.read_csv('/home/prashant/Downloads/train_rel_2.tsv',delimiter = '\t')

In [17]:
more_data.tail()

,Id,EssaySet,Score1,Score2,EssayText
17038,27584,10,1,1,white :: white becuase if you live in a hot pl...
17039,27585,10,1,1,light gray :: This color will affect the dogho...
17040,27586,10,1,1,light gray :: i think light gray would work th...
17041,27587,10,1,0,dark gray :: if they painted the doghouse dar...
17042,27588,10,0,1,white :: the black would affect the doghouse b...

In [18]:
jug_train_data.tail()

,Id,EssaySet,Score1,Score2,EssayText
17202,27584,10,1,1,white :: white becuase if you live in a hot pl...
17203,27585,10,1,1,light gray :: This color will affect the dogho...
17204,27586,10,1,1,light gray :: i think light gray would work th...
17205,27587,10,1,0,dark gray :: if they painted the doghouse dar...
17206,27588,10,0,1,white :: the black would affect the doghouse b...